<%= form_for(@alum) do |f| %>
  <% if @alum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alum.errors.count, "error") %> prohibited this alum from being saved:</h2>

      <ul>
      <% @alum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :cohort %><br />
    <%= f.text_field :cohort %>
  </div>
  <div class="field">
    <%= f.label :linkedin_url %><br />
    <%= f.text_field :linkedin_url %>
  </div>
  <div class="field">
    <%= f.label :twitter_handle %><br />
    <%= f.text_field :twitter_handle %>
  </div>
  <div class="field">
    <%= f.label :github_link %><br />
    <%= f.text_field :github_link %>
  </div>
  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :picture %><br />
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :expertise %><br />
    <%= f.text_area :expertise %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
